.header {
    display: flex;
    font-size: 1.3rem;
    font-family: var(--fuente-principal);
    font-weight: var(--fuente-tamaño);
    background-color: var(--color-cuatro);
    color: #E5E5E5;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.39);
}

.header img {
    width: 138px;
    height: 56px;
}